#wrapper{
    background-color: rgb(242,247,254);
}

.jumbotron{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border-radius: 0 !important;
    height: 250px;
    width: 100%;
}

#page-header{
    padding-top: 3rem;
    padding-bottom: 8rem;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn{
    background-color: #9E0759;
    border: none;
}

.btn:hover{
    background-color: #C11F77;
}

#registerButton{
    background-color: white;
    color: black;
    margin-right: 5px;
}
